body {
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #ffd1dc;
    
}

#start-button{
   margin-left:30%;
    
}

#restart{
    visibility: hidden;
    margin-top:5vh;
    padding:15px;
}

canvas {
    height: 40%;
    width: 40%;
}